form {
    height: 400px;
    width: 350px;
    background-color: lightseagreen;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
body {
    background-color: snow;
}
button {
    background-color: #232323;
    width: 75px;
    height: 25px;
    color: lightsalmon;
    border: 2px solid black;
    border-radius: 5px;
}
#post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post-card {
    height: 50px;
    background-color: burlywood;
    align-items: center;
    width: 300px;
    border: 5px dashed lightskyblue;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
#post-btn {
    height: 60px;
}
#post-card {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 400px;
    bottom: 500px;
}
.colored-square {
    height: 100px;
    width: 100px;
    background-color: red;
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
}
#color-square {
    height: 80px;
}
.delete-btn {
    margin-left: 40px;
}
#picture-btn {
    height: 80px;
}
#fortune-btn {
    height: 40px;
}
#complimentButton {
    height: 40px;
}
.picture {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    transition: 4s;
}
.picture:hover {
    transform: rotatex(360deg) rotatey(720deg)
}

